page-jugar {
    ion-item-group ion-item-divider {
        ion-note {
            right: 5px;
            position: absolute;
        }
      }
      .button-group {
        .col {
          &:first-child:not(:last-child) {
            padding-right: 0;
            .button {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
          &:not(:first-child):not(:last-child) {
            padding-right: 0;
            padding-left: 0;
            .button {
              border-radius: 0;
            }
          }
          &:last-child:not(:first-child) {
            padding-left: 0;
            .button {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
}
